div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }
 
  #div1 {transition-timing-function: linear;}
  #div2 {transition-timing-function: ease;}
  #div3 {transition-timing-function: ease-in;}
  #div4 {transition-timing-function: ease-out;}
  #div5 {transition-timing-function: ease-in-out;}
  #div6 {transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);}
 
  div:hover {
    width: 300px;
  }
