body{
    font-family: Arial;
}
#container{
   margin:0;
   padding:0px; 
}
#container .food ul li a{
  
    text-decoration: none;
    
    width:160px;
    height:40px;
    background-color: white;
    color:black;
}
#container .food li{
    list-style: none;
    float:left;
   position:relative;
   left:30%;
   width: 80px;
}
#container .food li a:hover{
    color: red;
}
#container .food2{
    position:relative;
    background-color: red;
    height:1000px;
    width:30%;
}
#container .food3{
   background-color: blueviolet;
   width:70%;
   height:1000px;
}
#container .food2, #container .food3{
    float:left;
}