ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    width: 200px;
    line-height: 2;
  }
  
  li > ul {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  li:hover > ul {
    display: block;
  }