.main {
    margin: 0px;
    padding:0px;
    
}
.logo {
    background-color: aqua;
    width:35%;
    height:100px;
    float:left;
    position:relative;

}
.banner {
    background-color: blue;
    width:60%;
    height:100px;
    float:left;
    position:absolute;
    right:50px;
}
.head-link {
    clear:both;
    list-style: none;
    float:left;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid  black;
    width:100%;
}
.head-link li {
    float:left;
    list-style: none;
    padding:0 5px;
}
.head-link li a{
   text-decoration: none;
   line-height: normal;
   padding-bottom: 2px;
  
}