body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px; 
}
@media screen and (min-width:900px) {
    .container {
        display:flex;}
    .photo1 {
        border: 2px solid black;
    }
    .photo1 img {
        width:300px;
        height:200px;
    }
    .photo1 p {
       text-align: center;
    }
    .photo2 {
        border: 2px solid black;
        margin-left: 12px;
    }
    .photo2 img {
        width:300px;
        height:200px;
    }
    .photo2 p {
         text-align: center;
    }
    .photo3 {
        border: 2px solid black;
        margin-left: 12px;
    }
    .photo3 img {
        width:300px;
        height:200px;
    }
    .photo3 p {
        text-align: center;
    }
    .photo4{
        border:2px solid black;
        margin-left: 12px;
    }
    .photo4 img {
        width:300px;
        height:200px;
    }
    .photo4 p {
        text-align: center;
    }

}
@media screen and (max-width:700px) {
    
     .photo1 {
        float: left;
     }
     .photo1 img {
        width:300px;
        height:200px;
    }
    .photo1 p{
        text-align: left;
    }
    .photo2 img {
        width:300px;
        height:200px;
    }
    .photo2 p{
        text-align:left;}
    .photo2{
        float: left;
        margin-left: 12px;
    }
    .photo3 {
        float: left;
    }
    .photo3 img {
        width:300px;
        height:200px;}
    .photo3 p{
            text-align: left;
     }
    .photo4 img {
        width:300px;
        height:200px;}
    .photo4 p{
            text-align: left;}
    .photo4 {
        float: left;
        margin-left: 12px;
    }        
}
  